apparmor
argcomplete
attrs
backports.tarfile
brlapi
cryptography
dbus-python
defusedxml
distro
docutils
importlib-metadata
jaraco.collections
legacy-cgi
libapparmor
louis
netsnmp-python
nftables
packaging
pip-chill
psutil
pwquality
pycairo
pyelftools
pygobject
pyxdg
setproctitle
tbb
tomli
uv
virtualenv
woeusb-ng
